<div class="topnav">
    <a class="active" href="{{ path('index') }}">Home</a>
    <a href="{{path('show_persons')}}">Persons</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
</div>