{% extends "base.html.twig" %}
{% block body %}
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div style="margin: 3rem">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                        Add user
                    </button>
                </div>
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">Last name</th>
                                <th class="cell100 column2">First name</th>
                                <th class="cell100 column3">Status</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                            {% for user in users %}
                                <tr class="row100 body">
                                    <td class="cell100 column1">{{ user.lname }}</td>
                                    <td class="cell100 column2">{{ user.fname }}</td>
                                    <td class="cell100 column3">{{ user.state }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('Modal/modalAddUser.html.twig') }}
{% endblock %}

